{{ define "main" }}

<section class="article-list">
    <article class="main-article">
        <section class="article-content">
            <h1>About Me</h1>
            <p>FullStack Developer focused in .NET Core, Azure and Angular/Vue. Although I also like to program video
                games and other things in my spare time. Eager to learn more every day. 👨‍💻</p>
            <p>Most of the projects I have worked for are private, but here I show some of the ones that are public.</p>
        </section>
    </article>

    <article class="main-article">
        <section class="article-content">
            <h1>Tech Stack</h1>
            <p>TODO</p>
        </section>
    </article>

    <article class="main-article">
        <section class="article-content">
            <h1>Work Experience</h1>

            <h2>ENCAMINA - AI Cloud Solutions Dev</h2>
            <p>TODO</p>

            <h2>ENCAMINA - AI Cloud Solutions Dev</h2>
            <p>TODO</p>
        </section>
    </article>

    <article class="main-article">
        <section class="article-content">
            <h1>Certifications</h1>

            <h2>Microsoft Certified: Azure Developer Associate</h2>
            <p>TODO</p>
        </section>
    </article>
</section>




{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
{{ $filtered := ($pages | intersect $notHidden) }}
{{ $pag := .Paginate ($filtered) }}

<section class="article-list">
    {{ range $index, $element := $pag.Pages }}
    {{ partial "article-list/default" . }}
    {{ end }}
</section>

{{- partial "pagination.html" . -}}
{{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
{{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}